<div class="ui very padded center aligned secondary segment">
    <div class="ui centered grid">
        <div class="sixteen wide tablet twelve wide computer center aligned column">
            <h2 class="ui huge header">
                Dowolny tytuł about us
                <!--{{ 'sylius.homepage.about_us'|trans }}-->
            </h2>
            <p>
                Fusce est ligula, bibendum commodo sodales sit amet, blandit quis felis. Morbi tristique metus quis suscipit varius. Pellentesque posuere massa non metus euismod auctor. Mauris pretium sem quis rutrum vehicula. Nullam ligula diam, gravida non elit pretium, tristique congue dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam finibus ligula diam, vitae eleifend quam sollicitudin id. Fusce efficitur scelerisque congue. Nunc semper suscipit velit non vulputate. Cras eros quam, facilisis convallis enim in, laoreet rutrum dolor. Donec auctor nisl a tincidunt blandit. Phasellus eu efficitur nunc, ut vehicula neque. Morbi molestie, nibh a placerat accumsan, risus erat eleifend est, nec tincidunt sem risus ut ante. Integer faucibus diam ac leo commodo, vitae posuere sem placerat. Integer tortor velit, porta et volutpat et, elementum ut libero.
                <!--{{ 'sylius.homepage.about_us_content'|trans|raw }}-->
            </p>
        </div>
    </div>
</div>
